TD {
	
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
FIELDSET {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
A:link {
	FONT-SIZE: 12px; COLOR: #16387c; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 12px; COLOR: #16387c; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 12px; TEXT-DECORATION: underline
}
.border2 TD {
	OVERFLOW: hidden; LINE-HEIGHT: 14px; HEIGHT: 10px
}
