 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL {
	LIST-STYLE-TYPE: none
}
A:link {
	COLOR: #194f95; TEXT-DECORATION: none
}
A:visited {
	COLOR: #194f95; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff6600
}
A:active {
	COLOR: #ff6600
}
.left {
	FLOAT: left
}
.right {
	FLOAT: right
}
.hidden {
	DISPLAY: block; OVERFLOW: hidden; WIDTH: 0px; HEIGHT: 0px
}
.web {
	DISPLAY: block; OVERFLOW: hidden; WIDTH: 0px; HEIGHT: 0px
}
.black {
	COLOR: #000
}
.red {
	COLOR: #f00
}
.clear {
	CLEAR: both; OVERFLOW: hidden; HEIGHT: 0px
}
IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
FIELDSET {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
LEGEND {
	DISPLAY: none
}
BUTTON {
	CURSOR: pointer; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
BODY {
	FONT-SIZE: 12px; BACKGROUND: url(../iphone_images/bgbody.gif) #cfe1ed repeat-x; COLOR: #363636; TEXT-ALIGN: center
}
#header {
	BORDER-RIGHT: #fff 5px solid; BORDER-TOP: #fff 5px solid; BACKGROUND: #fff; MARGIN: 0px auto; BORDER-LEFT: #fff 5px solid; WIDTH: 918px; BORDER-BOTTOM: #fff 5px solid
}
#topnav {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: #ecf1f5; PADDING-BOTTOM: 0px; MARGIN: 0px auto 5px; VERTICAL-ALIGN: middle; OVERFLOW: hidden; PADDING-TOP: 0px; HEIGHT: 30px
}
#toptext {
	FLOAT: left; MARGIN: 0px auto; FONT: 12px/30px Tahoma,sans-serif
}
#topnavlist {
	FLOAT: right
}
#topnavlist LI {
	PADDING-RIGHT: 8px; PADDING-LEFT: 13px; BACKGROUND: url(../iphone_images/redarrow.gif) no-repeat 0px 10px; FLOAT: left; PADDING-BOTTOM: 0px; LINE-HEIGHT: 30px; PADDING-TOP: 0px; HEIGHT: 30px
}
#topnavlist A:link {
	COLOR: #333
}
#topnavlist A:visited {
	COLOR: #333
}
#topnavlist A:hover {
	COLOR: #888
}
#topnavlist A:active {
	COLOR: #888
}
#topbox {
	BORDER-RIGHT: #e5ecf5 1px solid; BORDER-TOP: #e5ecf5 1px solid; MARGIN: 0px auto; BORDER-LEFT: #e5ecf5 1px solid; BORDER-BOTTOM: #e5ecf5 1px; POSITION: relative; HEIGHT: 70px
}
#topbox H1 {
	TEXT-INDENT: -10000px
}
#topbox H1 A {
	BACKGROUND: url(../iphone_images/logo.gif) no-repeat; FLOAT: left; MARGIN: 5px 0px; WIDTH: 230px; HEIGHT: 60px
}
#topbox H1 A:hover {
	BACKGROUND: url(../iphone_images/logo.gif) no-repeat; FLOAT: left; TEXT-DECORATION: none
}
#topmiddle {
	RIGHT: 270px; POSITION: absolute; TOP: 5px
}
#topright {
	BORDER-RIGHT: #eee 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #eee 1px solid; PADDING-LEFT: 0px; RIGHT: 5px; FLOAT: right; PADDING-BOTTOM: 1px; BORDER-LEFT: #eee 1px solid; WIDTH: 258px; PADDING-TOP: 3px; BORDER-BOTTOM: #eee 1px solid; POSITION: absolute; TOP: 5px; HEIGHT: 54px
}
#topright LI {
	PADDING-LEFT: 5px; FLOAT: left; OVERFLOW: hidden; WIDTH: 250px; LINE-HEIGHT: 18px; HEIGHT: 18px; TEXT-ALIGN: left
}
#chinahtmlnav {
	BORDER-RIGHT: #e5ecf5 1px solid; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; BACKGROUND: #fff; FLOAT: left; PADDING-BOTTOM: 0px; BORDER-LEFT: #e5ecf5 1px solid; WIDTH: 906px; PADDING-TOP: 0px; BORDER-BOTTOM: #bcd2e6 1px solid; LIST-STYLE-TYPE: none
}
#chinahtmlnav LI {
	DISPLAY: inline
}
#chinahtmlnav A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 4px; BACKGROUND: url(../iphone_images/tableft.gif) no-repeat left top; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 1px; PADDING-TOP: 0px; LETTER-SPACING: 2px
}
#chinahtmlnav A SPAN {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 8px; FONT-WEIGHT: bold; BACKGROUND: url(../iphone_images/tabright.gif) no-repeat right top; FLOAT: left; PADDING-BOTTOM: 4px; COLOR: #194f95; PADDING-TOP: 7px
}
#chinahtmlnav A:hover {
	BACKGROUND-POSITION: 0% -42px; CURSOR: pointer
}
#chinahtmlnav A:hover SPAN {
	BACKGROUND-POSITION: 100% -42px; CURSOR: pointer; COLOR: #005ca3
}
#subinfo {
	CLEAR: both; BORDER-RIGHT: #bcd2e6 1px solid; BORDER-TOP: #bcd2e6 1px; MARGIN: 0px auto; OVERFLOW: hidden; BORDER-LEFT: #bcd2e6 1px solid; WIDTH: 910px; LINE-HEIGHT: 28px; BORDER-BOTTOM: #bcd2e6 1px solid; HEIGHT: 26px
}
#subinfo LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 25px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
#subinfo .a {
	BACKGROUND: url(../iphone_images/nav1.gif) #e5ecf5 no-repeat 5px 4px; WIDTH: 290px; COLOR: #194f95
}
#subinfo .b {
	BACKGROUND: url(../iphone_images/nav2.gif) #e5ecf5 no-repeat 5px 4px; WIDTH: 280px; COLOR: #194f95
}
#subinfo .c {
	BACKGROUND: url(../iphone_images/users.gif) #e5ecf5 no-repeat 5px 4px; WIDTH: 218px
}
#subinfo .d {
	BACKGROUND: url(../iphone_images/rss.png) #e5ecf5 no-repeat 5px 5px; WIDTH: 60px
}
#mainimg {
	CLEAR: both; BORDER-RIGHT: #fff 5px solid; BORDER-TOP: #fff 5px; DISPLAY: none; BACKGROUND: #fff; MARGIN: 0px auto; BORDER-LEFT: #fff 5px solid; WIDTH: 910px; BORDER-BOTTOM: #fff 5px solid; HEIGHT: 68px
}
#mainad {
	BORDER-RIGHT: #ffcc66 2px solid; PADDING-RIGHT: 2px; BORDER-TOP: #ffcc66 2px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #ffcc66 2px solid; WIDTH: 910px; PADDING-TOP: 2px; BORDER-BOTTOM: #ffcc66 2px solid
}
#mainadleft {
	FLOAT: left; WIDTH: 470px
}
#mainadright {
	FLOAT: right; WIDTH: 470px
}
#mainimg IMG {
	BORDER-RIGHT: #000 1px solid; BORDER-TOP: #000 1px solid; BORDER-LEFT: #000 1px solid; WIDTH: 468px; BORDER-BOTTOM: #000 1px solid; HEIGHT: 60px
}
#topimg {
	CLEAR: both; BORDER-RIGHT: #fff 5px solid; BORDER-TOP: #fff 5px; BACKGROUND: #fff; MARGIN: 0px auto; BORDER-LEFT: #fff 5px solid; WIDTH: 910px; BORDER-BOTTOM: #fff 5px solid
}
#topimg IMG {
	WIDTH: 910px
}
#middleimg {
	CLEAR: both; BORDER-RIGHT: #fff 5px solid; BORDER-TOP: #fff 5px; BACKGROUND: #fff; MARGIN: 0px auto; BORDER-LEFT: #fff 5px solid; WIDTH: 910px; BORDER-BOTTOM: #fff 5px solid
}
#brand {
	BORDER-RIGHT: #cfe1ed 2px solid; BORDER-TOP: #cfe1ed 2px solid; PADDING-LEFT: 1px; BACKGROUND: #fff; BORDER-LEFT: #cfe1ed 2px solid; WIDTH: 905px; BORDER-BOTTOM: #cfe1ed 2px solid; HEIGHT: 62px
}
#brand IMG {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; BORDER-LEFT: #fff 1px; WIDTH: 188px; BORDER-BOTTOM: #fff 1px solid; HEIGHT: 60px
}
.rightad {
	MARGIN: 0px auto 5px; WIDTH: 300px; HEIGHT: 100%
}
.rightad IMG {
	WIDTH: 300px
}
.recommand {
	CLEAR: both; BORDER-RIGHT: #ddd 1px solid; BORDER-TOP: #ddd 1px solid; MARGIN: 0px 0px 5px; BORDER-LEFT: #ddd 1px solid; WIDTH: 298px; BORDER-BOTTOM: #ddd 1px solid; HEIGHT: 209px
}
.recommand H6 {
	PADDING-LEFT: 18px; FONT-SIZE: 12px; BACKGROUND: url(../iphone_images/tdot.gif) #f2f6fb no-repeat 8px 8px; COLOR: #003399; LINE-HEIGHT: 26px; BORDER-BOTTOM: #ddd 1px solid; HEIGHT: 26px
}
.recommand UL {
	MARGIN: 4px 0px 0px
}
.recommand LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; BACKGROUND: url(../iphone_images/blueli.gif) no-repeat 0px 50%; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 134px; LINE-HEIGHT: 22px; PADDING-TOP: 0px; HEIGHT: 22px
}
#search {
	CLEAR: both; BORDER-RIGHT: #d0dbe7 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #d0dbe7 1px solid; PADDING-LEFT: 5px; BACKGROUND: #f6f9fc; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 3px; BORDER-LEFT: #d0dbe7 1px solid; PADDING-TOP: 6px; BORDER-BOTTOM: #d0dbe7 1px solid; HEIGHT: 28px
}
#search INPUT {
	BORDER-RIGHT: #7e9db9 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #7e9db9 1px solid; PADDING-LEFT: 0px; FONT-SIZE: 12px; BACKGROUND: #fffdaa; PADDING-BOTTOM: 0px; BORDER-LEFT: #7e9db9 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #7e9db9 1px solid
}
#searchbox {
	CLEAR: both; BORDER-RIGHT: #d0dbe7 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #d0dbe7 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 5px; BORDER-LEFT: #d0dbe7 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #d0dbe7 1px solid; HEIGHT: 30px
}
#searchbox UL {
	MARGIN: 0px
}
#searchbox LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 0px; LINE-HEIGHT: 22px; PADDING-TOP: 2px; HEIGHT: 22px
}
#searchbox LABEL {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; LINE-HEIGHT: 26px
}
#searchbox INPUT {
	BORDER-RIGHT: #d0dbe7 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #d0dbe7 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #d0dbe7 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #d0dbe7 1px solid
}
#searchbox SELECT {
	WIDTH: 80px
}
#searchbox .image {
	WIDTH: 42px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 19px; BORDER-BOTTOM-STYLE: none
}
.rightlist {
	CLEAR: both; BORDER-RIGHT: #d0dbe7 1px solid; BORDER-TOP: #d0dbe7 1px solid; MARGIN: 0px 0px 5px; BORDER-LEFT: #d0dbe7 1px solid; BORDER-BOTTOM: #d0dbe7 1px solid; HEIGHT: 100%
}
.rightlist H4 {
	CLEAR: both; PADDING-LEFT: 18px; FONT-SIZE: 12px; BACKGROUND: url(../iphone_images/tdot.gif) #f2f6fb no-repeat 8px 50%; COLOR: #1f3a87; LINE-HEIGHT: 28px; BORDER-BOTTOM: #d0dbe7 1px solid; HEIGHT: 28px
}
.rightlist H4 SPAN {
	PADDING-RIGHT: 5px; FLOAT: right
}
.rightlist UL {
	CLEAR: both; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 258px; PADDING-TOP: 5px
}
.rightlist LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; BACKGROUND: url(../iphone_images/li2.gif) no-repeat 0px 8px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 238px; LINE-HEIGHT: 24px; PADDING-TOP: 0px; HEIGHT: 24px; TEXT-ALIGN: left
}
#footer {
	CLEAR: both; BORDER-RIGHT: #fff 5px solid; BORDER-TOP: #fff 5px; MARGIN: 0px auto; BORDER-LEFT: #fff 5px solid; WIDTH: 918px; BORDER-BOTTOM: #fff 5px solid; BACKGROUND-COLOR: #fff
}
#footerinfo {
	CLEAR: both; MARGIN: 0px auto; WIDTH: 910px; COLOR: #333; TEXT-ALIGN: center
}
#footercontent {
	BORDER-RIGHT: #eee 1px solid; BORDER-TOP: #eee 1px solid; BACKGROUND: #f8f8f8; MARGIN: 0px auto; BORDER-LEFT: #eee 1px solid; LINE-HEIGHT: 32px; BORDER-BOTTOM: #eee 1px solid; HEIGHT: 32px; TEXT-ALIGN: center
}
#footercontent A {
	MARGIN: 0px 2px
}
#footercopyrights {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; LINE-HEIGHT: 180%; PADDING-TOP: 6px; TEXT-ALIGN: center
}
#footercopyrights SPAN {
	FONT: 12px/180% arial,helvetica,sans-serif
}
