 {
	LINE-HEIGHT: 150%; FONT-FAMILY: arial,sans-serif,ו
}
BODY {
	FONT-SIZE: 10pt; BACKGROUND: #f5fafe; MARGIN: 0px auto; COLOR: #000
}
PRE {
	FONT-SIZE: 10pt; BACKGROUND: #f5fafe; MARGIN: 0px auto; COLOR: #000
}
CODE {
	FONT-SIZE: 10pt; BACKGROUND: #f5fafe; MARGIN: 0px auto; COLOR: #000
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
A:link {
	COLOR: #003195; TEXT-DECORATION: none
}
A:active {
	COLOR: #003195; TEXT-DECORATION: none
}
A:visited {
	COLOR: #003195; TEXT-DECORATION: none
}
A:hover {
	COLOR: #0000ff; TEXT-DECORATION: underline
}
#page {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: white
}
#header {
	BACKGROUND: url(/images/glow_b.png) repeat-x; OVERFLOW: hidden; WIDTH: 100%; HEIGHT: 72px
}
#logo {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; FLOAT: left; PADDING-BOTTOM: 12px; PADDING-TOP: 8px
}
#header #header-banner1 {
	BORDER-RIGHT: #ccc 0px solid; PADDING-RIGHT: 6px; BORDER-TOP: #ccc 0px solid; PADDING-LEFT: 6px; PADDING-BOTTOM: 6px; BORDER-LEFT: #ccc 0px solid; MARGIN-RIGHT: 6px; PADDING-TOP: 6px; BORDER-BOTTOM: #ccc 0px solid
}
#header_banner {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FLOAT: right; PADDING-BOTTOM: 6px; PADDING-TOP: 6px
}
#toolbar {
	BACKGROUND: url(header_menu.gif) #ebf7f9 repeat-x 50% top; BORDER-BOTTOM: #b4c0c1 1px solid; HEIGHT: 35px
}
#toolbar .menu {
	PADDING-RIGHT: 6px; MARGIN-TOP: 5px; PADDING-LEFT: 6px; FLOAT: left
}
#main {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 6px; PADDING-TOP: 6px
}
#contents {
	MARGIN-LEFT: 20px; MARGIN-RIGHT: 216px
}
#contents .llist {
	BORDER-RIGHT: #afd3eb 1px solid; BORDER-TOP: #afd3eb 1px solid; FLOAT: left; OVERFLOW: hidden; BORDER-LEFT: #afd3eb 1px solid; WIDTH: 49%; BORDER-BOTTOM: #afd3eb 1px solid
}
#contents .rlist {
	BORDER-RIGHT: #dbbb3c 1px solid; BORDER-TOP: #dbbb3c 1px solid; FLOAT: right; OVERFLOW: hidden; BORDER-LEFT: #dbbb3c 1px solid; WIDTH: 49%; BORDER-BOTTOM: #dbbb3c 1px solid
}
#contents .llist1 {
	BORDER-RIGHT: #afd3eb 1px solid; BORDER-TOP: #afd3eb 1px solid; FLOAT: left; OVERFLOW: hidden; BORDER-LEFT: #afd3eb 1px solid; WIDTH: 99%; BORDER-BOTTOM: #afd3eb 1px solid
}
#contents .llist1 .caption {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN-BOTTOM: 6px; PADDING-BOTTOM: 1px; COLOR: #003195; PADDING-TOP: 1px; BORDER-BOTTOM: #afd3eb 1px dotted; LETTER-SPACING: 4px; TEXT-ALIGN: center
}
#contents .llist .caption {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN-BOTTOM: 6px; PADDING-BOTTOM: 1px; COLOR: #003195; PADDING-TOP: 1px; BORDER-BOTTOM: #afd3eb 1px dotted; LETTER-SPACING: 4px; TEXT-ALIGN: center
}
#contents .rlist .caption {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN-BOTTOM: 6px; PADDING-BOTTOM: 1px; COLOR: #ce4a02; PADDING-TOP: 1px; BORDER-BOTTOM: #dbbb3c 1px dotted; LETTER-SPACING: 4px; TEXT-ALIGN: center
}
#contents .llist .post {
	MARGIN-TOP: 6px; BORDER-BOTTOM: #afd3eb 1px solid
}
#contents .llist1 .post {
	MARGIN-TOP: 6px; BORDER-BOTTOM: #afd3eb 1px solid
}
#contents .llist .post .title {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; OVERFLOW: hidden; WHITE-SPACE: nowrap; HEIGHT: 30px
}
#contents .llist1 .post .title {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; OVERFLOW: hidden; WHITE-SPACE: nowrap; HEIGHT: 30px
}
#contents .llist .post .summary {
	PADDING-RIGHT: 0px; MARGIN-TOP: 3px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 3px; OVERFLOW: hidden; PADDING-TOP: 3px; HEIGHT: 54px
}
#contents .llist1 .post .summary {
	PADDING-RIGHT: 0px; MARGIN-TOP: 3px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 3px; OVERFLOW: hidden; PADDING-TOP: 3px; HEIGHT: 54px
}
#contents .llist .post .summary P {
	MARGIN: 3px 0px
}
#contents .llist1 .post .summary P {
	MARGIN: 3px 0px
}
#contents .llist .post .cat_icon {
	FLOAT: right
}
#contents .llist1 .post .cat_icon {
	FLOAT: right
}
#contents .llist1 .post .single_title {
	FONT-WEIGHT: bold; FONT-SIZE: 24px; TEXT-ALIGN: center
}
#contents .content {
	FONT-SIZE: 14px
}
#contents .content .intro {
	MARGIN-TOP: 12px; MARGIN-BOTTOM: 12px
}
#contents .content .tbody {
	CLEAR: both
}
#contents .llist1 .post A.hot1 {
	COLOR: #003195
}
#contents .llist .post A.hot {
	COLOR: #003195
}
#contents .rlist A:link {
	COLOR: #ce4a02
}
#contents .rlist A:active {
	COLOR: #ce4a02
}
#contents .rlist A:visited {
	COLOR: #ce4a02
}
#contents .rlist A:hover {
	COLOR: #f30
}
#contents .rlist A.voted {
	COLOR: #003195
}
#contents .rlist .post {
	MARGIN-TOP: 6px; BORDER-BOTTOM: #dbbb3c 1px solid
}
#contents .rlist .post .title {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; OVERFLOW: hidden; WHITE-SPACE: nowrap; HEIGHT: 30px
}
#contents .rlist .post .summary {
	PADDING-RIGHT: 0px; MARGIN-TOP: 3px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 3px; OVERFLOW: hidden; PADDING-TOP: 3px; HEIGHT: 54px
}
#contents .rlist .post .summary P {
	MARGIN: 3px 0px
}
#contents .rlist .post .vote_intro {
	OVERFLOW: hidden
}
#sidebar1 {
	BORDER-RIGHT: #adc5d5 1px solid; BORDER-TOP: #adc5d5 1px solid; FLOAT: left; BORDER-LEFT: #adc5d5 1px solid; WIDTH: 110px; BORDER-BOTTOM: #adc5d5 1px solid
}
#sidebar1_inner {
	BORDER-RIGHT: #ebf7f9 1px solid; BORDER-TOP: #ebf7f9 1px solid; BORDER-LEFT: #ebf7f9 1px solid; BORDER-BOTTOM: #ebf7f9 1px solid
}
#sidebar1 .menu {
	FONT-WEIGHT: bold; FONT-SIZE: 14px
}
#sidebar1 .menu UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#sidebar1 .menu UL LI {
	PADDING-RIGHT: 6px; PADDING-LEFT: 12px; BACKGROUND: #ebf7f9; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; BORDER-BOTTOM: #fff 1px solid; LIST-STYLE-TYPE: none; HEIGHT: 20px
}
#sidebar1 .menu UL LI A {
	COLOR: #053679
}
#sidebar1 .menu UL LI A:hover {
	COLOR: #00f
}
#sidebar1 .menu UL LI.selec {
	PADDING-LEFT: 3px; BACKGROUND: #d1e2ff
}
#sidebar1 .menu UL LI:hover {
	BACKGROUND: #d1e2ff
}
#sidebar1 .menu UL LI.item {
	CLEAR: both; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 12px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; HEIGHT: 40px; TEXT-ALIGN: center
}
#sidebar1 .menu UL LI.item IMG {
	WIDTH: 40px
}
#sidebar1 .menu UL LI.calendar {
	PADDING-LEFT: 0px; HEIGHT: 156px
}
#sidebar1 .menu UL LI.author {
	FONT-WEIGHT: normal; OVERFLOW: hidden; WHITE-SPACE: nowrap
}
#sidebar {
	BORDER-RIGHT: #adc5d5 1px solid; BORDER-TOP: #adc5d5 1px solid; BACKGROUND: #fff; FLOAT: right; OVERFLOW: hidden; BORDER-LEFT: #adc5d5 1px solid; WIDTH: 204px; COLOR: #222; BORDER-BOTTOM: #adc5d5 1px solid; POSITION: relative
}
#sidebar .menu {
	FONT-SIZE: 12px
}
#sidebar .menu UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#sidebar .menu UL LI {
	BORDER-BOTTOM: #fff 1px solid; LIST-STYLE-TYPE: none
}
#sidebar .menu UL LI.caption {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: #d1e2ff; PADDING-BOTTOM: 3px; PADDING-TOP: 6px; HEIGHT: 20px
}
#sidebar .menu UL LI.item {
	CLEAR: both; PADDING-RIGHT: 9px; PADDING-LEFT: 9px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; HEIGHT: 48px; TEXT-ALIGN: center
}
#sidebar .menu UL LI.listitem {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 3px
}
#sidebar2 {
	DISPLAY: none
}
#links_list {
	PADDING-RIGHT: 3px; BORDER-TOP: #afd3eb 1px solid; MARGIN-TOP: 12px; PADDING-LEFT: 3px; BACKGROUND: #ebf7f9; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; BORDER-BOTTOM: #afd3eb 3px solid
}
#links_list UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#links_list UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#links_list UL LI H2 {
	FONT-SIZE: 12px
}
#links_list UL LI {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#links_list UL LI UL LI {
	DISPLAY: inline; LIST-STYLE-TYPE: none
}
A.hot {
	COLOR: #f30
}
A.plink {
	COLOR: #fc7821; TEXT-DECORATION: underline
}
.clear {
	CLEAR: both
}
.padding6x {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 6px; PADDING-TOP: 6px
}
.fl {
	FLOAT: left
}
.fm {
	
}
.fr {
	FLOAT: right
}
.share_link {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; TEXT-ALIGN: center
}
.post_link {
	TEXT-ALIGN: right
}
.excerpt {
	PADDING-RIGHT: 6px; BORDER-TOP: #dedede 1px solid; PADDING-LEFT: 6px; FONT-WEIGHT: bold; PADDING-BOTTOM: 6px; MARGIN-LEFT: 60px; PADDING-TOP: 6px; BORDER-BOTTOM: #dedede 1px solid; BACKGROUND-COLOR: #eee
}
.page_nav {
	MARGIN-BOTTOM: 6px
}
.vote_icon {
	MARGIN-TOP: 3px; FONT-SIZE: 12px; BACKGROUND: url(vote.png); FLOAT: left; WIDTH: 54px; MARGIN-RIGHT: 3px; HEIGHT: 71px
}
.vote_icon .votes {
	MARGIN-TOP: 6px; FONT-WEIGHT: bold; FONT-SIZE: 18px; TEXT-ALIGN: center
}
.vote_icon .vote_click {
	MARGIN-TOP: 18px; TEXT-ALIGN: center
}
.vote_icon A {
	COLOR: #ce4a02; TEXT-DECORATION: none
}
.vote_icon A.voted {
	COLOR: #003195
}
#footer {
	CLEAR: both; BORDER-TOP: #adc5d5 1px solid; MARGIN-TOP: 12px; PADDING-LEFT: 18px; FONT-SIZE: 10pt; BACKGROUND-COLOR: #ebf7f9
}
#wp_calendar {
	HEIGHT: 220px
}
#wp-calendar {
	MARGIN: 0px auto
}
PRE {
	COLOR: #333; FONT-FAMILY: Fixedsys; BACKGROUND-COLOR: #f8f8f8
}
CODE {
	COLOR: #333; FONT-FAMILY: Fixedsys; BACKGROUND-COLOR: #f8f8f8
}
PRE {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 8px; FONT-SIZE: 90%; PADDING-BOTTOM: 4px; MARGIN: 4px 0px; OVERFLOW: auto; BORDER-LEFT: #ccc 1px solid; LINE-HEIGHT: 1.3em; PADDING-TOP: 4px; BORDER-BOTTOM: #ccc 2px solid; WORD-WRAP: break-word
}
